{erl_opts, [ debug_info
           , warnings_as_errors
           % TODO: Add all specs and uncomment the line below
           % , warn_missing_spec
           , verbose
           ]
}.

{deps, []}.

% TODO: Improve cover
{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{alias, [ { check
          , [ dialyzer
            , {eunit, "--cover --verbose --profile"}
            , {ct,    "--cover --verbose"}
            , {cover, "--verbose"}
            ]
          }
        ]
}.
