{erl_opts, [ debug_info
           , warnings_as_errors
           % TODO: Check possible bug using warn_missing_spec_all option.
           %       See the discussion topic in Erlang forums:
           %       https://erlangforums.com/t/maybe-a-bug-compiling-with-warn-missing-spec-option/2623
           % , warn_missing_spec_all
           , verbose
           ]
}.

{deps, []}.

% TODO: Improve cover
{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{alias, [ { check
          , [ dialyzer
            , {eunit, "--cover --verbose --profile"}
            , {ct,    "--cover --verbose"}
            , {cover, "--verbose"}
            ]
          }
        ]
}.
